vmname: image-builder-ansible
#volname: image-builder-ansible
#volsize: 100
secgroups: default
image: Ubuntu Trusty 14.04 (SWITCHengines)
flavor: c1.xlarge
#flavor: c1.micro
key_name: macsp
net_name: private
ansible_user: ubuntu
s3access: key
s3secret: key
